*
!.gitignore
!README.md
!LICENSE
!SK_SFP_Najblizsze_Poziomy.pine
!SK_Current_Day_POC_VAH_VAL.pine
!SK_MTF_Nearest_Support_Resistance.pine
!SFP_WSKAZNIK_INSTRUKCJA.md
!CURRENT_DAY_PROFILE_GUIDE.md
!SUPPORT_RESISTANCE_GUIDE.md
